h1.main_title {
  margin-right: 20px;
}

ul.main_menu_bar {
  list-style: none;
  display: flex;
}

ul.main_menu_bar a,
ul.main_menu_bar div.search_form,
ul.main_menu_bar span {
  height: 25px;
  /* background-color: red; */
  margin: 7px;
}

ul.main_menu_bar a:hover {
  border-bottom: 1px solid gray;
}

ul.main_menu_bar a.cart {
  width: 50px;
}

div.cart_box {
  width: 200px;
  border: 1px solid gray;
  margin-top: 5px;
  padding: 3px;
}
