<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open Market</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_body.css}"/>
    <script th:src="@{/js/menu.js}"></script>
</head>
<body>

<div class="main header">
    <div class="title_bar">
        <h1>OPEN MARKET</h1>
        <div class="category">
            <nav class="menu">
                <span class="mjoin">회원가입</span>
                <span class="mlogin">로그인, 로그아웃</span>
                <span class="mmypage">마이페이지</span>
                <span class="mcart">장바구니</span>
            </nav>
        </div>
    </div>
    <div>카테고리</div>
</div>

<div class="main body">
        <th:block th:if="${PAGE == 'JOIN'}">
            <section th:replace="~{user/join :: join}"/>
        </th:block>

</div>
</body>
</html>