<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gechan.futsal.dao.ReservationDao">

	<insert id="insert">
		insert into tbl_reservation(r_fname,
		r_uteam, r_uname)
		values(#{r_fname}, #{r_uteam}, #{r_uname})
	</insert>

	<delete id="delete">
		delete from tbl_reservation where r_seq = #{r_seq}
	</delete>

	<select id="reservationList">
		select * from tbl_reservation where r_fname = #{r_fname}
	</select>
	
	<select id="selectAll">
		select * from tbl_reservation
	</select>

</mapper> 